/* body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
} */

body {
  background-color:#2a2a2a;
}

h1 {
  color: lightskyblue;
  margin-left: 15px;
}

p{
    color: aliceblue;
}