body{
    padding: 15px;
    background-color:#292F36 ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: #FF6B6B;
}

p{
    font-weight: bold;
    color:#292F36 ;
    background-color: azure;
    border-radius: 15px;
    padding: 10px;
}